.holder{
  height: 200px;
  width: 60vw;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.holder .hi{
  background-color: blue;
  color: white;
  height: 150px;
  width: 15vh;
  margin: 30px 10px;
  font-size: 20px;
}